body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


#weather-container {
  width: 150px; 
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#weathericon {
  border: 2px solid grey;
  width: 150px;

}

#weatherdescription {
  margin-top: -30px;
  text-align: center;
}